/* navbar */
.navbar-header {
    background-color: #42caa6;
}

.navbar-brand {
    color: white !important;
    text-align:justify;
}

.panel-default > .panel-heading {
    background-image: none;
    background: rgb(250, 250, 250);
}

.paragraph-center {
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #42caa6;
    text-align: center;
}

img {
    float: left;
    padding: 5px;
}

body {
    font-size: 16px;
}